// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: Blue hsl(220, 16%, 96%);
$veryLightGray: Gray hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
//lime green to bright cyan
$gradient: linear-gradient(to right,$limeGreen, $brightCyan );

// Font Sizes
$font-sm: .875rem; // 14px
$font-med: 1.125rem; // 18px
