@import './../../scss/globals.scss';
@import './../../scss/variables.scss';
.hamburger {
    cursor: pointer;
      .btn-line {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $darkBlue;

        &:not(:last-child) {
            margin-bottom: 3px;

        }

    } 
    &.close {
        transform: rotate(180deg);

        .btn-line:nth-child(1) {
            transform: rotate(45deg) translate(6px, 2px);
            background-color: $grayishBlue;
        }

        .btn-line:nth-child(2){
            display: none;
        }

        .btn-line:nth-child(3) {
            transform: rotate(-45deg) translate(2px, 3px);
            background-color: $grayishBlue;
        }

    }
};
