@import './../../scss/globals.scss';
@import './../../scss/variables.scss';
.header {
    font-size: $font-sm;

    nav {
        padding: 1.0625rem 1.5rem;

    };

    &__logo {
        // 141 * 22
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }

    }

    &__cta {
        font-size: $font-sm;
        color: $white;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: .7;
        }

    }

};
